<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul>
		<li>텍스트
			<ul>
				<li><a href="/basic/text-basic">텍스트 출력 기본</a></li>
			</ul>
		</li>
		<li>표준 표현식 구문
			<ul>
				<li><a href="/basic/variable">변수-springEL</a></li>
				<li><a href="/basic/link">링크 URL</a></li>
				<li><a href="/basic/literal">리터럴</a></li>
				<li><a href="/basic/operation">연산</a></li>
			</ul>
		</li>
		<li>반복문
			<ul>
				<li><a href="/basic/each">반복</a></li>
			</ul>
		</li>
		<li>조건문 평가
			<ul>
				<li><a href="/basic/condition">조건부 평가</a></li>
			</ul>
		</li>
		<li> 주석 및 블록
			<ul>
				<li><a href="/basic/comments">주석</a></li>
			</ul>
			<ul>
				<li><a href="/basic/block">블록</a></li>
			</ul>
		</li>
	</ul>
</body>
</html>